@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

a:link {
    color:black;
    text-decoration: none;
}

a:visited {
    color:black;
    text-decoration: none;
}

a:hover {
    color:cadetblue;
    background-color:ghostwhite;
    text-decoration: underline;
}

a:active {
    color:cadetblue;
    background-color:ghostwhite;
}

body {
    background-color:honeydew;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.footer {
    position: static;
    border: 3px solid burlywood;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:cadetblue;
    color: aliceblue;
    text-align: center;
    line-height:5px;
    max-width:1000px;
    font-family: "Roboto Condensed", sans-serif;
}