@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

main {
  padding: 20px;
  background-color:beige;
  font-family: 'Roboto Condensed', sans-serif;
}